/********************************************************
 *  Tabbed template
 */

.edges-tabbed-container {
    height: 750px;
    width: 800px;
}

.edges-tabbed-container .tab {
    height: 700px;
}

/********************************************************
* Default results display
*/

.edges-bs-results-display-container {

}

.edges-bs-results-display-record {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px dashed #cccccc;
}

.edges-bs-results-display-record:hover {
    background-color: #eeeeee;
}

.edges-bs-results-display-row {

}

.edges-bs-results-display-field {
    font-weight: bold;
    padding-right: 10px;
}

.edges-bs-results-display-value {

}

/********************************************************
 *  Basic Term Selector
 */

.edges-bs3-basic-term-selector-facet {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
}

.edges-bs3-basic-term-selector-header {
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eeeeee;
}

.edges-bs3-basic-term-selector-header a {
    color: #000000;
}

.edges-bs3-basic-term-selector-header a:hover {
    font-weight: bold;
    text-decoration: none;
}

.edges-bs3-basic-term-selector-controls {
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #cccccc;
    background-color: #eeeeee;
}

.edges-bs3-basic-term-selector-result {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.edges-bs3-basic-term-selector-result:nth-of-type(odd) {
    background-color: #ffffff;
}

.edges-bs3-basic-term-selector-result:nth-of-type(even) {
    background-color: #f4f4f4;
}

.edges-bs3-basic-term-selector-result:hover {
    background-color: #eeeeee;
}

.edges-bs3-basic-term-selector-value {}

.edges-bs3-basic-term-selector-filter-remove {
    color: #000000;
}

.edges-bs3-basic-term-selector-filter-remove:hover {
    color: #000000;
}

/********************************************************
 *  Multi Date Range selector
 */

.multi-date-range-select {
    width: 100%;
}

.multi-date-range-input {
    width: 100%;
}

/********************************************************
 *  Selected Filters display
 */

.edges-bs3-selected-filters-container {
    border: 1px dotted #cccccc;
    padding: 10px 10px 10px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f4f4f4;;
}

.edges-bs3-selected-filters-field {
    margin-right: 15px;
}

.edges-bs3-selected-filters-fieldname {
    font-weight: bold;
    padding-right: 3px;
}

.edges-bs3-selected-filters-value {

}

.edges-bs3-selected-filters-remove {
    color: #000000;
    padding-left: 3px;
}

.edges-bs3-selected-filters-remove:hover {
    color: #000000;
}

.edges-bs3-selected-filters-rel {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

/********************************************************
 *  Loading bar
 */
.edges-bs3-searching-notification-bar {
    width: 100%;
    text-align: center;
    color: #ffffff;
}