/********************************************************
* googlemap/GoogeMapView.js
*/

$ns:".edges-google-map-view";

#{$ns}_canvas {
  width: 100%;
  height: 600px;
  max-width: none !important;
}