/* Variables for colour palette */

// outlines of components, such as facets
$component-border: #cccccc;
$component-title-background: #eeeeee;
$component-link: #000000;
$component-background: #ffffff;
$component-alt-row: #f4f4f4;
$component-highlight-row: #eeeeee;
$component-scrollbar: #c4d0d7;