.edges-nvd3-pie-display-vote-share {
    font-weight: bold;
    font-size: 120%;
}

#edges-nvd3-pie-svg-vote-share {
    height: 400px;
}

.edges-bs3-or-term-selector-selections-constituency {
    max-height: 400px;
}