/********************************************************
 *  OR Term Selector
 */

$ns:".edges-bs3-or-term-selector";

#{$ns}_facet {
  border-top: 1px solid $component-border;
  border-bottom: 1px solid $component-border;
}

#{$ns}_header {
  font-weight: bold;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $component-title-background;
}

#{$ns}_header a {
  color: $component-link;
}

#{$ns}_header a:hover {
  font-weight: bold;
  text-decoration: none;
}

#{$ns}_result {
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#{$ns}_result:nth-of-type(odd) {
  background-color: $component-background;
}

#{$ns}_result:nth-of-type(even) {
  background-color: $component-alt-row;
}

#{$ns}_result:hover {
  background-color: $component-highlight-row;
}

.edges-bs3-or-term-selector-value {}

#{$ns}_filter-remove {
  color: $component-link;
}

#{$ns}_filter-remove:hover {
  color: $component-link;
}

#{$ns}_selections {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#{$ns}_selections::-webkit-scrollbar {
  -webkit-appearance: none;
}

#{$ns}_selections::-webkit-scrollbar:vertical {
  width: 8px;
}

#{$ns}_selections::-webkit-scrollbar:horizontal {
  height: 8px;
}

#{$ns}_selections::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid #c4d0d7;
  background-color: rgba(0, 0, 0, .4);
}

#{$ns}_selections::-webkit-scrollbar-track {
  background-color: #c4d0d7;
  border-radius: 8px;
}