/********************************************************
 *  Searching Notification
 */

$ns:".edges-bs3-searching-notification";

#{$ns}_bar {
  width: 100%;
  text-align: center;
  color: #ffffff;
}